<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Tribus_Single_review</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="font/font.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="css/css3.css" />
    <!--[if lt IE 10]>
   		<script src="js/PIE.js" type="text/javascript"></script>
    <![endif]-->


</head>

<body>
	<div id="wrapper"><!--start wrapper-->
    	<div id="header"><!--start header-->
        	<div class="logo"><a name="top" href="index.html"><img src="img/logo.png" alt="" width="59" height="65" /></a></div>
            <div id="header_rgt"><!--start header_rgt-->
            	<div id="menu_bg"><div id="menu_lft"><div id="menu_rgt">
                    <ul>
                    	<li><a href="#">CITY</a></li>
                    	<li class="current_page_item"><a href="#" title="MOVIE">MOVIE</a></li>
                        <li><a href="#" title="BOOK">BOOK</a></li>
                        <li><a href="#" title="MUSIC">MUSIC</a></li>
                        <li><a href="#" title="MY TRIBUS">MY TRIBUS</a></li>
                    </ul>
                    <div class="header_search">
                    	<form action="#">
                        	<p class="txt_header"><input type="text" /></p>
                            <p class="submit_header"><input type="submit" value=" " /></p>
                        </form>
                    </div>
                    <div class="header_icon_area">
                    	<span class="space_btm"><a href="#"><img src="img/icon_header1.png" alt="" width="10" height="11" /></a></span>
                        <span><a href="#"><img src="img/icon_header2.png" alt="" width="12" height="13" /></a></span>
                    </div>
                </div></div></div>
            </div><!--//end #header_rgt-->
        </div><!--//end #header-->
        <div id="main_area"><!--start main_area-->
        	<div id="saerch_area"><!--start saerch_area-->
            	<div id="search_bg" class="space_lft"><!--start search_bg-->
                	<form action="#">
                    	<p class="search_text"><input type="text" value="Seach movie, actors, comment, tribus music list" onclick="if(this.value=='Seach movie, actors, comment, tribus music list')(this.value='')"  onblur="if(this.value=='')(this.value='Seach movie, actors, comment, tribus music list')" /></p>
                        <p class="search_submit"><input type="submit" value=" " /></p>
                    </form>
                </div><!--//end #search_bg-->
                <div id="social_media"><!--start social_media-->
                	<div id="social_lftcol">
                    	<a href="#"><img src="img/icon_facebook.jpg" alt="" width="24" height="24" /></a>
                        <a href="#"><img src="img/icon_tweet.jpg" alt="" width="24" height="24" /></a>
                    </div>
                    <div id="social_box"><!--start social_box-->
                    	<div id="message">
                        	<a href="#"><img src="img/icon_message1.jpg" alt="" width="22" height="22" /><span>5</span></a>
                            <a href="#"><img src="img/icon_message2.jpg" alt="" width="22" height="22" /></a>
                            <a href="#"><img src="img/icon_message3.jpg" alt="" width="22" height="22" /></a>
                            <a href="#"><img src="img/icon_message4.jpg" alt="" width="22" height="22" /></a>
                        </div>
                        <div class="address">
                        	<h3>Jeremy Guan</h3>
                            <span>New York City</span>
                        </div>
                    </div><!--//end #social_box-->
                </div><!--//end #social_media-->
            </div><!--//end #saerch_area-->
            <div id="common_maincontent"><!--start common_maincontent-->
            	<div id="review_main"><!--start review_main-->
                	<div id="review_lftcol"><!--start review_lftcol-->
                    	<div class="review_post"><!--start review_post-->
                        	<h2 class="review_title">Review </h2>
                            <div class="review_ratting"><!--start review_ratting-->
                            	<div class="games_bg"><h3>The Hunger Games </h3></div>
                                <span>(<a href="#">1768</a>)</span>
                                <h4><a href="#">Create a Review</a></h4>
                                <div class="rating_icon">
                                	<a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" width="12" height="12" /></a>
                                </div>
                            </div><!--//end .review_ratting-->
                            <div class="rating_descript"><!--start rating_descript-->
                            	<p>The Hunger Games, a vision of human life in all its nasty, brutish brevity demands to be devoured.</p>
                            </div><!--//end .rating_descript-->
                        </div><!--//end .review_post-->
                        <div id="dreadcrumbs">
                        	<a href="#">Review &gt;</a> <a href="#">The Hunger Games &gt;</a> The Hunger Games Violenc...
                        </div>
                        
                        <div class="review_post"><!--start review_post-->
                            <div class="review_ratting space_rating"><!--start review_ratting-->
                            	<img src="img/pic_review.jpg" alt="" class="pic_review" width="44" height="43" />
                            	<h2>The Hunger Games violence is 'justified' says star</h2>
                                <div class="rating_icon">
                                	<a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12"  /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12"  /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" width="12" height="12"  /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" width="12" height="12"  /></a>
                                </div>
                            </div><!--//end .review_ratting-->
                        </div><!--//end .review_post-->
                        <div class="games_info"><!--start games_info-->
                        	<div class="games_btm_icon"><img src="img/icon_album.jpg" alt="" width="20" height="19"/></div>
                        	<div class="games_social">
                            	<span>By Andrew Yang</span>
                                <div class="games_media">
                                	<a href="#"><img src="img/icon_facebook2.jpg" alt="" width="15" height="15" /></a>
                                    <a href="#"><img src="img/icon_tweet2.jpg" alt="" width="16" height="15" /></a>
                                    <a href="#">+ Wish List</a>
                                    <a href="#">+Tribus List</a>
                                </div>
                            </div>
                            <div class="games_descript"><!--start games_descript-->
                            	<p>Jennifer Lawrence, the star of The Hunger Games, has defended the scenes of violence in the film which has been given a '12A' rating only after some footage was cut.</p>
                                <p>Based on the first of three novels by Suzanne Collins, the film is a post-apocalyptic story in which 21-year-old American actress Lawrence plays heroine Katniss Everdeen who volunteers to take her sister's place in a televised fight-to-the-death battle.</p>
                                <p>The hype surrounding its launch has been compared to the hugely successful Twilight vampire movie franchise, and industry experts predict an opening weekend box office tally of up to $100 million in North America alone.</p>
                                <p>In Britain, distributors agreed to cut seven seconds of footage featuring wounds and bloodied weapons in order to obtain a 12A' rating and draw in a bigger, younger audience.</p>
                                <p>When asked whether she believed the violence depicted on screen was acceptable, Lawrence said: "I think so, yes, because it's the violence and the brutality (which) is the heart of the film, because it's what gets the people angry to start an uprising and to start a revolution.</p>
                                <p>"I do think the violence and brutality is justified, but I understand if everybody has a different standard for ratings."</p>
                                <p>In the United States, the film aimed largely at a teenaged audience received a PG-13 rating "for intense violent thematic material and disturbing images - all involving teens".</p>
                                <p>Josh Hutcherson, who plays Peeta Mellark, said he believed director Gary Ross had struck the right balance between staying true to the book and not overdoing the violence.</p>
                                <p>"I think kids are more mature than they have been over the years and I think ... the whole idea was to make this movie and stay true to the book without alienating audiences.</p>
                                <p>"So Gary Ross did it in a way where he didn't glorify it (the violence) at all. It's not overly gruesome or brutal but it is part of the story in some way."</p>
                                <p>English actor Toby Jones, Claudius Templesmith in the film, praised the pacing of The Hunger Games.</p>
                                <p>In Britain, distributors agreed to cut seven seconds of footage featuring wounds and bloodied weapons in order to obtain a 12A' rating and draw in a bigger, younger audience. "It feels like a sort of adult film in style, it's not that fast editing you see all the time in films that are supposedly for young people," he said.</p>
                                <p>"It's much more, it believes that the audience were interested in the characters so it takes its time."</p>
                                <p>The Hunger Games opens next Friday.</p>
                            </div><!--//end .games_descript-->
                        </div><!--//end .games_info-->
                        
                        <div class="realted_article"><!--start realted_article-->
                        	<h2>RELATED ARTICLES</h2>
                            <ul>
                            	<li>Hunger Games, Seven magazine review 29 Mar 2012</li>
                                <li>The Hunger Games: review 16 Mar 2012</li>
                                <li>The Hunger Games: review of reviews 16 Mar 2012</li>
                                <li>Will Hunger Games break records? 14 Mar 2012</li>
                                <li>Stars justify The Hunger Games violence 15 Mar 2012</li>
                                <li>Jennifer Lawrence dazzles in Ralph Lauren 15 Mar 2012</li>
                            </ul>
                        </div><!--//end .realted_article-->
                        
                        <div id="comment_box_area"><!--start comment_box_area-->
                        
                        	<div class="comment_box"><!--start comment_box-->
                            	<div class="arrow_author2"></div>
                            	<div class="comment_first_content"><!--start comment_first_content-->
                                	<div class="pic_author">
                                    	<div class="arrow_author1"></div>
                                        <img src="img/pic_author1.png" alt="" width="73" height="73" />
                                    </div>
                                    <div class="author_total_rgt">
                                    	<div class="author_speech">
                                            <textarea rows="10" cols="10" onclick="if(this.value=='Name Says : ...')(this.value='')"  onblur="if(this.value=='')(this.value='Name Says : ...')">Name Says : ...</textarea>
                                        </div>
                                        <div class="author_icon">
                                        	<span><img src="img/icon_album.jpg" alt="" width="20" height="19" /></span>
                                            <div class="btn_done"><a href="#">Done</a></div>
                                        </div>
                                    </div>
                                </div><!--//end .comment_first_content-->
                            </div><!--//end .comment_box-->
                            
                            <div class="comment_box bg_differ"><!--start comment_box-->
                            	<div class="comment_scnd_content"><!--start comment_scnd_content-->
                                	<div class="pic_author">
                                        <img src="img/pic_author2.png" alt="" width="72" height="72" />
                                    </div>
                                    <div class="author_total_rgt">
                                    	<div class="author_speech">
                                        	<h3>Pierce Tetro Cooper (New York)</h3>
                                            <div class="edit_tools">
                                        	<label  class="text_label">Am I actually goin to see you there or are you too big<br />time to mingle wit us little people?</label>
                                            <div style="display: block;" class="edit"></div>
                                            <input type="text" />
                                         </div>
                                            <span>Feb.18, 2012  at 1:43pm</span>
                                        </div>
                                    </div>
                                </div><!--//end .comment_scnd_content-->
                            </div><!--//end .comment_box-->
                            
                            <div class="comment_box"><!--start comment_box-->
                            	<div class="comment_scnd_content"><!--start comment_scnd_content-->
                                	<div class="pic_author">
                                        <img src="img/pic_author3.png" alt="" width="72" height="72" />
                                    </div>
                                    <div class="author_total_rgt">
                                    	<div class="author_speech">
                                        	<h3>Pierce Tetro Cooper (New York)</h3>
                                            <div class="edit_tools">
                                        	<label  class="text_label">Am I actually goin to see you there or are you too big<br />time to mingle wit us little people?</label>
                                            <div style="display: block;" class="edit"></div>
                                            <input type="text" />
                                         </div>
                                            <span>Feb.18, 2012  at 1:43pm</span>
                                        </div>
                                    </div>
                                </div><!--//end .comment_scnd_content-->
                            </div><!--//end .comment_box-->
                            
                            <div class="comment_box bg_differ"><!--start comment_box-->
                            	<div class="comment_scnd_content"><!--start comment_scnd_content-->
                                	<div class="pic_author">
                                        <img src="img/pic_author4.png" alt="" width="72" height="72" />
                                    </div>
                                    <div class="author_total_rgt">
                                    	<div class="author_speech">
                                        	<h3>Pierce Tetro Cooper (New York)</h3>
                                              <div class="edit_tools">
                                                <label  class="text_label">Am I actually goin to see you there or are you too big<br />time to mingle wit us little people?</label>
                                                <div style="display: block;" class="edit"></div>
                                                <input type="text" />
                                             </div>
                                            <span class="color_differ">Feb.18, 2012  at 1:43pm</span>
                                        </div>
                                    </div>
                                </div><!--//end .comment_scnd_content-->
                            </div><!--//end .comment_box-->
                        </div><!--//end #comment_box_area-->
                        <div id="comment_pagination">
                        	<a href="#" class="prev"></a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#" class="next"></a>
                        </div>
                    </div><!--//end #review_lftcol-->
                    <div id="review_side_bar"><!--start review_side_bar-->
                    	<div class="review_btn"><a href="#">Create a Review</a></div>
                    	<div class="review_feature">
                        	<img src="img/pic_games.jpg" alt="" />
                            <h3>The Hunger Games Page <a href="#"><img src="img/tripple_arrow3.jpg" alt="" /></a></h3>
                        </div>
                        <div class="rating_widget">
                        	<h2>Seach by Rating <span>(<a href="#">1768</a>)</span></h2>
                            <ul>
                            	<li>
                                	<a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <span>452</span>
                                </li>
                                <li>
                                	<a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <span>543</span>
                                </li>
                                <li>
                                	<a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <span>339</span>
                                </li>
                                <li>
                                	<a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <span>221</span>
                                </li>
                                <li>
                                	<a href="#"><img src="img/icon_rating1.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <a href="#"><img src="img/icon_rating2.jpg" alt="" /></a>
                                    <span>231</span>
                                </li>
                            </ul>
                        </div>
                    </div><!--//end #review_side_bar-->
                    <div class="clear"></div>
                </div><!--//end #review_main-->
            </div><!--//end #common_maincontent-->
            <div id="footer"><p>Copyright @ Tribus.us 2012.      <span>All rights reserved</span> </p></div>
            <div id="back_to_top"><a href="#top"></a></div>
        </div><!--//end #main_area-->
    </div><!--//end #wrapper-->
    <script src="js/smoothscroll.js" type="text/javascript"></script>
    <script src="js/jquery-1.js" type="text/javascript"></script>
    <script src="js/easy-editable-text.js" type="text/javascript"></script>

</body>
</html>                                                                                                   