<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/nav.css">
<link rel="stylesheet" type="text/css" href="css/myTribus.css">
</head>
<body>
<div class="main">

  <div class="main_nav">
  <table class="nav" cellspacing="0">
<tr>
<td cellspacing="0"><a class="city-active" href="#"></a></td>
<td cellspacing="0"><a class="movie" href="#"></a></td>
<td cellspacing="0"><a class="book" href="#"></a></td>
<td cellspacing="0"><a class="music" href="#"></a></td>
<td cellspacing="0"><a class="mytribus" href="#"></a></td>
</tr>
  </table>
   <div class="setting" style="float:right;position:relative;right:13px;bottom:12px;">
   	<p><img src="setting.png" /></p>
    <p style="position:relative;bottom:5px;"><img src="setting.png" /></p>
   </div>
  <div class="search" style="float:right;">
      	<p style="float:right; padding-right:60px;"><input type="text" id="sea" /></p>
   </div>
   <table style="float:right;" id="nav_sub">
    	<tr>
        	<td width="235" height="63" align="right">
            <img src="face.png" /> 	
            </td>
            <td width="273"><div style="border: 2px double rgb(222, 222, 222); -moz-border-radius: 15px 15px 15px 15px; border-radius: 15px; -webkit-border-radius: 15px;"><div id="nav_nameAndCity" style="float:right;"><a>Jeremy Lin</a><a>New York</a></div> <img class="nav_social" src="logout.png" /><img class="nav_social" src="notification.png" /><img class="nav_social" src="about.png" /><img class="nav_social" src="logout.png" />  <br></div></td>
        </tr>     
    </table>  
   
   </div>
 

	</div>


</div>


</body>
</html>