<!--
<%@ page language="java" import="java.util.*" pageEncoding="ISO-8859-1"%>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns:ice="http://ns.adobe.com/incontextediting">
<head>
    <base href="<%=basePath%>">
    
    <title>My JSP 'MusicHostPage.jsp' starting page</title>
    
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">

	<link rel="stylesheet" type="text/css" href="css/styles.css">


  <script src="includes/ice/ice.js" type="text/javascript"></script>
</head>
  
<body>
<div><img src="images/flag.png" width="205" height="56" style="position:relative;top:26px;right:14px;"/></div>
<table width="709" border="0">
  <tr>
    <td width="703"><div style="border: 2px double rgb(222, 222, 222); -moz-border-radius: 15px 15px 15px 15px; border-radius: 15px; -webkit-border-radius: 15px;"><table width="702" border="0">
  <tr>
    <td width="133" height="110">
      <p><h4>guanMimi guanmimi@gmail.com</h4></p></td>
    <td width="70"><table width="58" border="0">
      <tr>
        <td><img src="images/follower-pic.png" width="50" height="50"></td>
      </tr>
      <tr>
        <td><div align="center">mimi</div></td>
      </tr>
    </table></td>
    <td width="378" style="vertical-align:bottom;"><table width="356" height="77" border="0">
      <tr>
        <td height="33"><a href=""> Upload your photo<a></td>
      </tr>
      <tr>
        <td><div style="border: 2px double rgb(0, 0, 0); -moz-border-radius: 0px 0px 0px 0px; border-radius: 0px; -webkit-border-radius: 0px;">
          <input type="text" width="300" style="border-color: transparent;"><img style="float:right" src="images/Search-button.png"/>
        </div></td>
      </tr>
    </table></td>
    <td width="103"><table width="101" height="118" border="0">
      <tr>
        <td width="91" height="70">Basic Setting</td>
      </tr>
      <tr>
        <td><div align="right"><img src="images/setting.png" width="19" height="19"></div></td>
      </tr>
    </table></td>
  </tr>
</table>
</div></td>
  </tr>
  <tr>
    <td><table width="358" border="0">
      <tr>
        <td width="119"><h4>User Name:</h4></td>
        <td width="223"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="358" border="0">
      <tr>
        <td width="118"><h4>Custermize your page addr:</h4></td>
        <td width="224"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="358" border="0">
      <tr>
        <td width="119"><h4>Password:</h4></td>
        <td width="223"><a href=""> change your password<a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="358" border="0">
      <tr>
        <td width="119"><h4>Your City:</h4></td>
        <td width="223"><input type="text">
          <span style="border: 2px double rgb(0, 0, 0); -moz-border-radius: 0px 0px 0px 0px; border-radius: 0px; -webkit-border-radius: 0px;"><img src="images/Search-button.png" alt="" style="float:right"/></span></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="358" border="0">
      <tr>
        <td width="117"><h4>Your Email:</h4></td>
        <td width="225"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity Start Time</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity Finish Time</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity Finish Detail</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity Max Number</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity State</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity City</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity Street</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity Status</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="348" border="0">
      <tr>
        <td width="117"><h4>Activity Fees</h4></td>
        <td width="221"><input type="text"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

</body>
</html>
