<!--
<%@ page language="java" import="java.util.*" pageEncoding="ISO-8859-1"%>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <base href="<%=basePath%>">
    
    <title>My JSP 'MusicHostPage.jsp' starting page</title>
    
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">

	<link rel="stylesheet" type="text/css" href="css/styles.css">


  </head>
  <body>
	<table width="716" border="1">
      <tr>
        <td width="656"><table width="637" border="1">
  <tr>
    <td width="627"><img src="images/Album_pic.png" width="600" height="365"></td>
  </tr>
  <tr>
    <td>Album Description</td>
  </tr>
  <tr>
    <td align="center"><img src="images/divider_horizontal.png" width="560" height="3"></td>
  </tr>
  <tr>
    <td><table width="596" border="1">
      <tr>
        <td width="480">&nbsp;</td>
        <td width="136"><table width="136" border="1">
          <tr>
            <td width="54"><img src="images/ft.png" alt="" width="54" height="28"></td>
            <td width="130"><p>+wish list +tribus list</p></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="603" border="1">
      <tr>
        <td width="593" height="115"><div style="text-align:center"><img src="images/triangle-above-the-comment-box.png" /></div><div style="border: 2px double rgb(222, 222, 222); -moz-border-radius: 15px 15px 15px 15px; border-radius: 15px; -webkit-border-radius: 15px;">
          <table width="349" border="1">
            <tr>
              <td width="80"><img src="images/u28_original.png" width="72" height="72"></td>
              <td width="253"><p>dEDDDDDDDDDDDDDDDDDD LLLLLLLLL</p></td>
            </tr>
          </table>
        </div></td>
      </tr>
      <tr>
        <td height="35"><div class="RoundedCorner">
<b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<br>无图片实现圆角框<br><br>
<b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
</div></td>
      </tr>
      <tr>
        <td><div style="text-align:center"><img src="images/triangle-above-the-comment-box.png" /></div><div style="border: 2px double rgb(222, 222, 222); -moz-border-radius: 15px 15px 15px 15px; border-radius: 15px; -webkit-border-radius: 15px;">
          <table width="349" border="1">
            <tr>
              <td width="80"><img src="images/u28_original.png" width="72" height="72"></td>
              <td width="253"><p>dEDDDDDDDDDDDDDDDDDD LLLLLLLLL</p></td>
            </tr>
          </table>
        </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div style="text-align:center"><img src="images/triangle-above-the-comment-box.png" /></div><div style="border: 2px double rgb(222, 222, 222); -moz-border-radius: 15px 15px 15px 15px; border-radius: 15px; -webkit-border-radius: 15px;">
          <table width="349" border="1">
            <tr>
              <td width="80"><img src="images/u28_original.png" width="72" height="72"></td>
              <td width="253"><p>dEDDDDDDDDDDDDDDDDDD LLLLLLLLL</p></td>
            </tr>
          </table>
        </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div style="text-align:center"><img src="images/triangle-above-the-comment-box.png" /></div><div style="border: 2px double rgb(222, 222, 222); -moz-border-radius: 15px 15px 15px 15px; border-radius: 15px; -webkit-border-radius: 15px;">
          <table width="349" border="1">
            <tr>
              <td width="80"><img src="images/u28_original.png" width="72" height="72"></td>
              <td width="253"><p>dEDDDDDDDDDDDDDDDDDD LLLLLLLLL</p></td>
            </tr>
          </table>
        </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
        <td width="44">&nbsp;</td>
      </tr>
	</table>
  </body>
</html>
