<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="navigator">
	<span id="title"> community,movie,Book,music mytribus </span> 
	<span id="search"> SEARCH: <input type="text"" > </span>
</div>

<div id="searchBar"><span> <input type="text"" >
<button value="" name="">GO</button>
</span> <span> User Info </span></div>


<div id="myNavigator">
<li>My Books</li>
<li>Best Recommend</li>
<li>Top books</li>
<li>Catalog</li>
</div>


<div id="body">
<div id="left" style="float: left; width: 70%">


<div id="innerLeft" style="float: left; width: 50%">
<table>
	<thead>
		new Fiction
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>4</td>
			<td>5</td>
			<td>6</td>
		</tr>
		<tr>
			<td>7</td>
			<td>8</td>
			<td>9</td>
		</tr>
		<tr>
			<td>MORE</td>
		</tr>
	</tbody>
</table>
</div>

<div id="innerRight" style="float: left; width: 50%">

<table>
	<thead>
		new NonFiction
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>4</td>
			<td>5</td>
			<td>6</td>
		</tr>
		<tr>
			<td>7</td>
			<td>8</td>
			<td>9</td>
		</tr>
		<tr>
			<td>MORE</td>
		</tr>
	</tbody>
</table>


</div>


<div id="friends_interest">
<div>pic</div>

<div>info</div>
</div>

<div id="tribus_comment">

<li>tribus comment</li>

<div id="friend_comment1">pic comment attend follow time1</div>


<div id="friend_comment2">pic comment attend follow time2</div>


<div id="friend_comment3">pic comment attend follow time3</div>


<div id="friend_comment4">pic comment attend follow time4</div>

</div>

</div>

<div id="right" style="float: right; width: 30%">
<li>Guess you like</li>
<li>book community1</li>
<li>book community2</li>
<li>book community3</li>
<li>book community4</li>
<li>TAG</li>
</div>
</div>

<div id="foot"></div>
</body>
</html>