<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="navigator">
	<span id="title"> community,movie,Book,music mytribus </span> 
	<span id="search"> SEARCH: <input type="text"" > </span>
</div>

<div id="searchBar"><span> <input type="text"" >
<button value="" name="">GO</button>
</span> <span> User Info </span></div>


<div id="myNavigator">
<li>My Books</li>
<li>Best Recommend</li>
<li>Top books</li>
<li>Catalog</li>
</div>


<div id="body">
<div id="left" style="float: left; width: 70%">


<div id="innerLeft" style="float: left; width: 100%">
<table>
	<thead>
		System City list
	</thead>
	<tbody>
		<tr>
			<td>
				pic
				
				some information 
				
				 					
			</td>
		</tr>
		<tr>
			<td>
				Your next city event 					
			</td>
		</tr>
		
	</tbody>
</table>
</div>



<div id="friends_interest">
<div>pic</div>

<div>info</div>
</div>

<div id="tribus_comment">

<li>tribus comment</li>

<div id="friend_cities">your friends cities</div>

<div id="hear_friends">hear your friends</div>

</div>

</div>

<div id="right" style="float: right; width: 30%">
	<li>Top tribus news</li>
	<li>city1</li>
	<li>city2</li>
	<li>city3</li>
	<li>city4</li>
	<li>city5</li>
	
	
	<div>
		<li> Top view events </li>
	</div>
	
	<div>
		<li> your recent views </li>
	</div>

</div>

</div>

<div id="foot"></div>
</body>
</html>