.comment_box,
.tribus_common_box,
.mid_white_box,
.review_box {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
    behavior:url(PIE.htc);
}
#about_box {	
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	position:relative;
    behavior:url(PIE.htc);
}
.wish_listbox {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:relative;
    behavior:url(PIE.htc);
}